<div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Login</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="username" id="username_text"
                                [(ngModel)]="username" name="first" required>
    
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="password" id="password_text"
                                [(ngModel)]="password" name="pass" required>
                        </div>
    
                        <div class="form-group">
                            <input type="submit" value="Login with GitHub" class="btn  login_btn"
                                (click)="loginWithGitHub();">
                        </div>
                    </form>
                </div>
    
            </div>
        </div>
       
    </div>