body{
    background-image: url(https://gst-contracts.s3.amazonaws.com/uploads/bcc/cms/asset/avatar/24235/home_slider.jpg) !important;
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.card{
    height: 315px;
    margin-top: 8%;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
    }
    
    .social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
    }
    
    .social_icon span:hover{
    color: white;
    cursor: pointer;
    }
    
    .card-header h3{
    color: white;
    text-align: center;
    }
    
    .social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
    }
    
    .input-group-prepend span{
    width: 50px;
    background-color: #38a6ff;
    color: #fff;
    border:0 !important;
    }
    
    input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
    
    }
    
    .remember{
    color: white;
    }
    
    .remember input
    {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
    }
    
    .login_btn{
    color: #fff;
    background-color: #38a6ff;
    width: 150px;
    margin-top:20px;
    }
    
    .login_btn:hover{
    color: black;
    background-color: white;
    }
    
    .links{
    color: white;
    }
    
    .links a{
    margin-left: 4px;
    }
    .card-body {
        flex: 1 1 auto;
        padding: 2rem 1.5rem;
    }
    .form-group {
        margin-bottom: 1.40rem;
        text-align: center;
    }
    .error-msg{
        position: absolute;
        top: 65%;
        color:#fd4646;
    }