body{
    background-image: url(https://gst-contracts.s3.amazonaws.com/uploads/bcc/cms/asset/avatar/24235/home_slider.jpg);
    background-repeat: no-repeat;
    height: 100%;
    background-size: inherit;
}