<app-header></app-header>
<div class="container">
    <div class="row header_name" *ngIf="username">
        <h1>Repository List</h1>
    </div>

    <div class="container">
        <div class="row" *ngIf="repos">
            <div class="col-md-4" *ngFor="let eachrepo of repos; let i = index">
                <div class="card-content">
                    <div class="card-desc">
                        <div>

                            <a (click)='showReposContent(repos[i].name);'>
                                <h3 style="text-align:center;margin-bottom: 20px;;">{{eachrepo.name}}</h3>
                            </a>
                            <div style="text-align: center;">

                                <a (click)='showReposContent(repos[i].name);' class="btn-card" style="margin:5px;">List
                                    of Files</a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>