<app-header></app-header>
<div class="container">
  <div class="row header_name">
    <div *ngIf="username">
      <div *ngIf="reponame">
        <h1>Repository Name: - {{reponame}}</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngIf="responseMessage">
      <p class="push-response">{{ responseMessage }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card-content">
        <div class="card-img">
          <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
            *ngIf="showWebcam" [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
            [videoOptions]="videoOptions" [imageQuality]="1" (cameraSwitched)="cameraWasSwitched($event)"
            (initError)="handleInitError($event)"></webcam>

        </div>
        <div class="card-desc">
          <button class="actionBtn btn btn-primary margin-top-20" (click)="triggerSnapshot();">Take A Snapshot</button>
        </div>
      </div>
    </div>


    <div class="col-md-6 remove-preview">

      <div class="card-content snapshot" *ngIf="webcamImage">
        <div class="card-img">
          <img class="captured-img" [src]="webcamImage.imageAsDataUrl" />

        </div>
        <div class="card-desc">

          <input type="text" class="form-control" [(ngModel)]="message" placeholder="Commit Message">
          <button class="btn btn-primary custom-push-btn" (click)="pushContentToRepo();">Push Content</button>
        </div>
      </div>

    </div>
  </div>
</div>